
<ul class="list-group">
  <span class="content">
  	<li><%= link_to article.title, article %></li>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(article.created_at) %> ago.
  </span>
 </li>
</ul>