<% provide(:title, 'Admnistrator #{@user.name}') %>
<h1>Add an Article</h1>
<p>
	Home page for an administrator
	<ul class="nav pull-right">
		<li><%= link_to "Profile Page", current_user %></li>
	</ul>
</p>