<% provide(:title, "Admnistrator") %>
<div id="home">
<h3 class="underline">Article Management Page</h3>
</p>
<p>
  Manage Articles:
  <div class="container">
    <aside class="span4">
      <section>
        <%= render 'shared/article_form' %>
      </section>
    </aside>
  </div>
</p>
<p>

<div class="container">
    <% if @user.articles.any? %>
    <div class="container pull-left">
      <p>Article List - Total - <%= @user.articles.count %>:</p>
    </div>
    <div class="container">
      <ul class="articles">
        <%= render @articles %>
      </ul>
      </div>
      <%= will_paginate @articles %>
    <% end %>
  </div>
</div>