<% provide(:title, "Admin: #{@user.name}") %>
<div class="container pull-left"id="home">
	<h3>Administrator Console</h3>
	<div class="pull-left">
		<p class="underline">Search users</p>
		<%= render 'shared/user_search'%>
	</div>
	<div rows="12" cols="30" class="container pull-right">
		<p>Articles</p>
	<ul>
		<% @articles.each do |article| %>
		<li><%= link_to article.title, :action => 'show', :id => article.id  %></li><% end %>
	</ul>
</div>
</div>
