<footer class="footer">
  <small>
    SPORTS-SHACK
    by David Kavanagh
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Articles", all_articles_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>